@import '../../styles/modules'

.Header
  background: $brand-primary
  color: white
  position: relative
  transition: background 0.3s
  display: flex

  div
    padding: 20px
    flex: 1 1 auto

  &.theme--secondary
    background: $brand-secondary

  &.theme--tertiary
    background: $brand-tertiary

  .btn
    color: white

    &:hover
      background: rgba(black, 0.1)

